a {
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
}

header-nav {
  margin-right: auto;
  margin-left: 93px;
  flex-wrap: wrap;
  flex-direction: row;
}

header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
  width: 145px;
  margin-right: 93px;
}

.about-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about-names {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-planning {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-tech {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-photo {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}

.about-item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}

.about-item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}

.about-item:nth-child(3)::before {
  background-image: url("../images/computer-suitcase.png");
}

.about-item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}

.about-list {
  gap: 30px;
}

.work-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.work-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-bottom: 27px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work{
  padding-bottom: 94px;
  padding-top: 50px;
}

.work-item {
  position: relative;
}

.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.team-item {
  background-color: #fff;
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.man3 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.woman {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.team-photo-first {
  width: 270px;
  height: 260px;
}

.team-elemnt {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-con {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.team-connection {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #4a4d53;
}

.team-connection:hover {
  background-color: #2196f3;
  .team-con {
    fill: #ffffff;
  }
}

.team-link {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-link:hover {
  background-color: #2196f3;
  .team-icon {
    fill: #ffffff;
  }
}

.main-poster {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  width: 322px;
}

.main-list {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
}

.names {
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  display: flex;

  align-items: center;
  justify-content: center;
}

.everyone {
  width: 73px;
height: 38px;
  font-family: "Roboto", sans-serif;
 font-weight: 500;
font-size: 16px;
line-height: 163%;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
background-color:#2196F3 ;
}

.menu {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
  justify-content: center;
}

.hero-title {
  font-family: "Roboto", sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
width: 696px;
margin-bottom: 28px;
margin-left: auto;
margin-right: auto;
}

.studio {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
width: 112px;
height: 38px;
font-weight: 500;
font-size: 16px;
line-height: 163%;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.second {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  width: 72px;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  width: 64px;
}

.gmail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  gap: 9px;
}

.numbers {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  gap: 9px;
}

.email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.email:hover {
  color: #2196f3;
  .header-icon {
    fill: #2196f3;
  }
}

.header-icon {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.phone:hover {
  color: #2196f3;
  .header-icon {
    fill: #2196f3;
  }
}

.phone {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.color {
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.end-color {
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.work-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}

.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 216px;
  height: 50px;
  justify-content: center;
  gap: 30px;
  display: block;
  padding: 14px 28px;
  border-radius: 4px;
  border: none;
}

.about-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 94px;
}

.about-container {
}

.about{
   padding-top: 94px;
}

.address {
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  gap: 9px;
  display: flex;
  padding-top:20px ;
}

.main-list {
  display: flex;
  gap: 30px;
background: #fff;
}

.main-item {
border: 1px solid #eee;
width: 370px;
height: 404px;
 box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.hero {
  background-image: url("../images/people.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom:200px ;
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register-footer {
  background-color: #2f303a;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
  padding-top: 50px;
  padding-bottom: 60px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(47, 48, 58, 0.6);
}

.clients {
  fill: #afb1b8;
  padding-top: 50px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 30px;
}

.clients-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.client-icon:hover {
  fill: #2196f3;
  width: 170px;
  height: 92px;
  border: 2px solid #afb1b8;
  border-radius: 16px;
  /* width: 106px;
  height: 60px;
  border: 1px solid #afb1b8; */
}

.client-icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

 /* .client-container{
  width: 106px;
  height: 60px;
  border: 1px solid #afb1b8;
  align-items: center; */


/* .backdrop{
  background-color: #0c070879;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.model{
  width:528px ;
  background-color: #fff;
  border-radius: 4px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 40px;
}

.model-butn{
width: 30px;
height: 30px;
border-radius: 100%;
fill: #fff;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 10px;
right: 10px;
}

.model-icon{
  width: 11px;
  height: 11px;
 fill: #000;
}

.model-butn:hover {
  .model-icon{
   fill:#2196F3 ; 
   width: 18px;
   height: 18px;
  }
}

.model-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
font-size: 20px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-bottom: 12px;
}

.model-label{
   font-family: "Roboto", sans-serif;
  font-weight: 400;
font-size: 12px;
letter-spacing: 0.01em;
color: #757575;
position: relative;
}

.model-comment{
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 448px;
height: 120px;
width: 100%;
resize: none;
padding: 12px 16px;
font-weight: 400;
font-size: 12px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  margin-top: 4px;
  margin-bottom: 20px;
}

.model-input{
  display: block;
outline: 1px solid rgba(33, 33, 33, 0.2);
border: none;
border-radius: 4px;
width: 100%;
height: 40px;
margin-top: 4px;
margin-bottom: 10px;
padding-left: 42px;
}

.model-input:hover,
.model-input:focus
{
  outline: 1px solid #2196F3;
}

.model-input:hover + .model-pic,
.model-input:focus + .model-pic{
  fill:#2196F3 ;
}

.model-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-text{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
margin-left: 9px;
margin-right: 4px;
}

.model-link{
text-decoration: underline;
text-decoration-skip-ink: none;
color: #2196f3;
}

.model-check{
  width: 16px;
  height: 15px;
  background-color:#2196F3 ;
  color:#FFFFFF ;
}

.model-submit{
   font-family: "Roboto", sans-serif;
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #188ce8;
font-weight: 700;
font-size: 16px;
line-height: 188%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
display: block;
margin: 0 auto;
margin-top: 30px;
}

.model-pic{
  fill: #212121;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 12px;
}

.footer-symbols{
  padding-top: 12px;   
} */
