a {
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
}

header-nav {
  margin-right: auto;
  margin-left: 93px;
  flex-wrap: wrap;
  flex-direction: row;
}

header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
  width: 145px;
  margin-right: 93px;
}

.about-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  width: 270px;
  display: flex;
}

.about-names {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-planning {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-tech {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-photo {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}

.about-item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}

.about-item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}

.about-item:nth-child(3)::before {
  background-image: url("../images/computer-suitcase.png");
}

.about-item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}

.about-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.work-title {
  font-family: "Roboto";
  font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
}

.team-title {
  font-family: "Roboto";
 font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
text-align: center;
}

.man3 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.woman {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.team-photo-first {
  width: 270px;
  height: 260px;
  margin-left: 30px;
  margin-right: 30px;
}

.team-elemnt{
  display: flex;
  gap: 22px;
  justify-content: center;  
margin-top: 28px;
margin-bottom: 42px;
}

.team-icon{
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team-con{
   width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.team-connection{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
    background-color:#4A4D53 ;
}

.team-connection:hover {
   background-color: #2196F3;
   .team-con{
    fill:#FFFFFF ;
   }
}

.team-link{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.team-link:hover {
   background-color: #2196F3;
   .team-icon{
    fill:#FFFFFF ;
   }
}

.main-poster {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  width: 322px;
}

.main-list {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.names {
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  display: flex;

  align-items: center;
  justify-content: center;
}

.everyone {
  width: 73px;
  height: 38px;
  background-color: #2196f3;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  text-align: center;
  justify-content: center;
}

.menu {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
  justify-content: center;
}

.hero-title {
width: 696px;
font-family: "Roboto", sans-serif;
    color: #ffffff;
    margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-bottom: 28px;
}

.studio {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: #2196f3;
  width: 45px;
}

.second {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  width: 72px;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  width: 64px;
}

.gmail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
     gap:9px ;
}

.numbers {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
     gap:9px ;
}

.email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap:5px ;
}

.email:hover {
color: #2196f3;
.header-icon {
  fill:#2196f3;
}
}

.header-icon{
  width: 16px;
  height: 12px;
  fill: #757575;
}



.phone {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap:5px ;
}

.phone:hover {
  color: #2196f3;
  .header-icon{
    fill:#2196f3;
  }
}

.color {
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.end-color {
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
   position: relative;
  text-align: center;
}

.header-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-nav{
  margin-left: 93px;
}

.work-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 27px;
}


.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:#F5F4FA ;
  width:1600px;
  height: 708px;
}



.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 216px;
  height: 50px;
  justify-content: center;
  gap: 30px;
  display: block;
  padding: 14px 28px;
  border-radius: 4px;
  border: none;
}

.about-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 94px;
}

.about-container {
  display: flex;
  flex-direction: row;
  padding-top: 94px;
}

.address {
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
   gap:9px ;
}

.main-list {
  display: flex;
  gap: 30px;
}

.main-item {
  max-width: 370px;
}

.hero {
  background-image: url("../images/people.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1600px;
 min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register-footer {
  background-color: #2f303a;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-text{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 1600px;
  height: 252px;
  background-color: #2F303A;
   padding-top:50px;
  padding-bottom: 60px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(47, 48, 58, 0.6);
}

.clients{
  fill: #AFB1B8;
  padding-top: 50px;
  padding-bottom:94px ;
}

.clients-list{
  display: flex;
  justify-content: space-between;
   padding-top: 50px;
}

.clients-text{
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.client-icon:hover {
  fill: #2196F3;
  width:290px;
  height:145px;
}