a {
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.main-title {
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Roboto";
}

.main-title + p {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1px;
}

.second-main {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.third-main {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.final-main {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.work {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 3px;
}

.first {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.last {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.our-team {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 2px;
}

.man3 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.woman {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.team-photo {
  width: 370px;
  height: 294px;
}

.team-photo-first {
  width: 270px;
  height: 260px;
}

.team-poster {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

.main-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.names {
  width: 125px;
  height: 38px;
  color: #212121;
}

.everyone {
  width: 73px;
  height: 38px;
   background-color: #2196F3;
  color:#FFFFFF ;
}
