
a {
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.about-title {
  font-family: "Roboto";
  font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
width: 270px;
}

.about-names {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 270px;
    padding-top: 10px;
}

.about-planning {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 270px;
  padding-top:10px ;
}

.about-tech {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 270px;
    padding-top: 10px;
}

.work-title {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 3px;
  width: 366px;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color:#000000;
  width: 145px;
}

.register-footer {
  background-color: #2F303A;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  
}

.team-title {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 266px;
}

.man3 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.woman {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.team-photo-first {
  width: 270px;
  height: 260px;
  margin-left:30px ;
  margin-right: 30px;
}

.main-poster {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  width: 322px;
}

.main-list {
  display: flex;
  gap: 30px;
  flex-direction:row;
  flex-wrap: wrap;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.names {
  width: 125px;
  height: 38px;
  color: #212121;
  background-color: #FFFFFF;
}

.everyone {
  width: 73px;
  height: 38px;
   background-color: #2196F3;
  color:#FFFFFF ;
  padding-bottom: 0px;
}

.hero-title {
  background-color: #2F303A;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
    font-weight: 696;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    width: 696px;

}
.studio {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
letter-spacing: 0.02em;
 font-size: 14px;
 color: #2196F3 ;
 width: 45px;
}

.second {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    width: 72px;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    width: 64px;
}

.gmail {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    background-color: #2F303A;
    width: 135px;
}

.numbers {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2F303A;
    width:122px;
}

.email {
  width: 135px;
    height: 16px;
    color: #2196F3;
}

.color {
   color: #2196F3
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;

}

.container {
  width: 1200px;
padding-left:16px ;
padding-right:16px ;
  margin-right: auto;
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction:row;
}

header-nav {
  margin-right: auto;
  margin-left: 93px;
  flex-wrap: wrap;
  flex-direction:row;
}

header-container {
  display: flex;
  gap:8px;

}

.hero-button {
  display: flex;
  align-content: center;
  flex-direction: row;
}

.work-list {
  display: flex;
  flex-direction: row;
   gap: 30px;
}

.team-list {
  display: flex;
  flex-direction: row;
   gap: 30px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-button {
  background-color:#2196F3 ;
  color:#FFFFFF ;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
}

.about-list {
  display:flex;
  flex-direction: row;
}

.about-container {
  flex-direction: column;
flex-wrap: wrap;
display: flex;
justify-content: flex-end;
}