a {
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.about-title {
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Roboto";
}

.about-title + p {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1px;
}

.about-names {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about-planning {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about-tech {
  font-family: "Roboto";
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.work-title {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 3px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color:#000000;
}

.register-footer {
  background-color: #2F303A;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.team-title {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 2px;
}

.man3 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.woman {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.team-photo {
  width: 370px;
  height: 294px;
}

.team-photo-first {
  width: 270px;
  height: 260px;
}

.main-poster {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.names {
  width: 125px;
  height: 38px;
  color: #212121;
}

.everyone {
  width: 73px;
  height: 38px;
   background-color: #2196F3;
  color:#FFFFFF ;
}

.hero-title {
  background-color: #2F303A;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
    font-weight: 696;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.studio {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
letter-spacing: 0.02em;
 font-size: 14px;
 color: #2196F3 ;
}

.second {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.gmail {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
}

.numbers {
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
}

.email {
  width: 135px;
    height: 16px;
    color: #2196F3;
}

.color {
   color: #2196F3
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}