a {
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
}

header-nav {
  margin-right: auto;
  margin-left: 93px;
  flex-wrap: wrap;
  flex-direction: row;
}

header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
  width: 145px;
  margin-right: 93px;
}

.about-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  width: 270px;
  display: flex;
}

.about-names {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-planning {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-tech {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-photo {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}


.about-item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}

.about-item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}

.about-item:nth-child(3)::before {
  background-image: url("../images/computer-suitcase.png");
}

.about-item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}


.about-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.work-title {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 3px;
  width: 366px;
  padding-bottom: 50px;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
}

.team-title {
  font-family: "Roboto";
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 266px;
  padding-bottom: 50px;
}

.man3 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.woman {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.man2 {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 2px;
}

.team-photo-first {
  width: 270px;
  height: 260px;
  margin-left: 30px;
  margin-right: 30px;
}

.main-poster {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  width: 322px;
}

.main-list {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero {
  position: relative;
  max-width: 16000;   
  height: 600px;             
  background: url("./images/people.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px;

}
.hero::before{
  content:"";
  position:absolute;
  background: grey (10,30,40,20.45);   
}


.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.names {
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  display: flex;

  align-items: center;
  justify-content: center;
}

.everyone {
  width: 73px;
  height: 38px;
  background-color: #2196f3;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  text-align: center;
  justify-content: center;
}

.menu {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
  justify-content: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 696;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.studio {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: #2196f3;
  width: 45px;
}

.second {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  width: 72px;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  width: 64px;
}

.gmail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.numbers {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.phone {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.color {
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.end-color {
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  gap: 8px;
}

.work-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  display: flex;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 216px;
  height: 50px;
  justify-content: center;
  gap: 30px;
  display: block;
  margin-top: 30px;
}

.about-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 94px;
}

.about-container {
  display: flex;
  flex-direction: row;
  padding-top: 94px;
}

.address {
  background-color: #2f303a;
  color: #ffffff;
}

.main-list {
  display: flex;
  gap: 30px;
}

.main-item {
  max-width: 370px;
}

.hero {
  height: 600px;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.register-footer {
  background-color: #2f303a;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
