
$accent-color:#2196F3;
$logo-color:#000;
$title-color:#212121;
$text-color:#757575;
$main-color:#FFF;
$team-bg:#F5F4FA;
$footer-bg:#2F303A;
$footer-contract:rgba(255, 255, 255, 0.60);
$border-card:#EEE;
$portfolio-line:#ECECEC;
$card-overlay:rgba(33, 150, 243, 0.90);
$shadow-card:rgba(0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
$button-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
$team-shadow:0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
$team-text:#AFB1B8;
$phone-overlay: rgba(47, 48, 58, 0.8);
$footer-email:rgba(33, 150, 243, 0);
$input-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.15);
$hero-gradient:rgba(47, 48, 58, 0.40);
$main-text-bg:rgba(33, 150, 243, 0.9);
$main-border:#eee;
$team-item:#fff;
$team-connect:#4a4d53;
$about-color:#f5f4fa;
$clients-color:#afb1b8;
$color:#FFFFFF ;
$footer-color:#ffffff;
$header-color:#000000;