
@use"../utilies/mixin" as *;
@use"../base/variables"as *;

.about{
   padding-top: 94px;
   &__list {
  display: flex;
  flex-direction: row;
    gap: 30px;
}


&__item {
&::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: var($about-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}
}


  &__item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}

&__item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}

&__item:nth-child(3)::before {
  background-image: url("../images/computer-suitcase.png");
}

&__item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}

&__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 10px;
}

&__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $text-color;
}

&__names {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
   margin-bottom: 10px;
}

&__planning {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var($title-color) ;
   margin-bottom: 10px;
}

&__tech {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var($title-color);
   margin-bottom: 10px;
}
}






