
@use"../utilies/mixin" as *;

.about{
   padding-top: 94px;
}

&__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

&__list {
  display: flex;
  flex-direction: row;
}

&__names {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
   margin-bottom: 10px;
}
&__planning {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
   margin-bottom: 10px;
}

&__tech {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
   margin-bottom: 10px;
}

.about-photo {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
   margin-bottom: 10px;
}

.about-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}

.about-item:nth-child(1)::before {
  background-image: url("../images/antenna.png");
}

.about-item:nth-child(2)::before {
  background-image: url("../images/clock.png");
}

.about-item:nth-child(3)::before {
  background-image: url("../images/computer-suitcase.png");
}

.about-item:nth-child(4)::before {
  background-image: url("../images/astronaut.png");
}

&__list {
  gap: 30px;
}

&__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  
}