@use"../base/variables" as *;
@use"../utilies/mixin" as *;

.clients {
  fill: var($clients-color);
  @extend %indents-on-section;
  // padding-top: 94px;
  // padding-bottom: 94px;
    transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  // display: flex;
  // justify-content: space-between;
  //   gap: 30px;
  @include flexbox($gap:24px, $justify: space-between);
 margin-top: 50px;
}

.clients-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $title-color;
}

.client-icon:hover {
  fill: $accent-color;
  border: 2px solid $clients-color;
  border-radius: 16px;
  /* border: 1px solid #afb1b8; */
}

.client-icon {
  width: 106px;
  height: 60px;
   transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link{
   width: 170px;
  height: 92px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @include flexbox ($align, $justify);
  border: 1px solid $clients-color;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}