.footer-form{
  display: flex;
  flex-direction: column;
}

.register-footer {
  background-color: #2f303a;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer-container {
  background-color: #2f303a;
  align-items: baseline;
  display: flex;
}

.footer{
  background-color: #2f303a;
padding-top: 60px;
padding-bottom: 60px;
margin-right: auto;
}

.footer-symbols{
   display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: auto;
}

.contact-text{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
}

.contact-input{
  border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
width: 358px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding-left: 16px;
background-color: transparent;
}

.contact-button{
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3;
color:#FFFFFF ;
border: none;
}

.address {
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
}

.gmail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  display: inline-block;
  margin-bottom: 9px;
  margin-top: 9px;
}

.numbers {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  gap: 9px;
}

.end-color {
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.contact{
   display: flex;
   gap: 12px;
    /* width: 570px;
height: 86px; */
margin-top: 20px;
/* flex-direction: column; */
}