@use "../base/variables" as *;
@use "../utilies/mixin" as *;

.hero {
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/hero-mobile@1x.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 118px 0;

  @include flexbox($align: center, $justify: center);
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/hero-mobile@2x.webp);
  }

  @media screen and (min-width: 768px) {
    background-image:
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero-tablet@1x.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/hero-tablet@2x.webp);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
     background-image:
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/hero-desktop@1x.webp);

       @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/hero-desktop@2x.webp);
    }
    }

    
  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: $team-item;
    width: 100%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      font-size: 44px;
      letter-spacing: 2.64px;
      width: 600px;
    }

    @media screen and (min-width: 768px) {
      font-size: 44px;
      letter-spacing: 2.64px;
      width: 696px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: $text-color;
  }

  &__button {
    background-color: $accent-color;
    color: $footer-color;
    margin-right: auto;
    margin-left: auto;
    width: 216px;
    height: 50px;
    justify-content: center;
    gap: 30px;
    display: block;
    padding: 10px 24px;
    border-radius: 4px;
    border: none;

    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
  }
}