
@use"../base/variables" as *;



.main {

  &__menu {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
    justify-content: center;

    // @media screen and (min-width:1200px) {
    //   padding-top: 94px;
    //   padding-bottom: 94px;
    // }
  }

  &__everyone {
    color: $title-color;
    background: $team-bg;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    width: 73px;
    height: 38px;
    border: none;

    &:hover {
      color: $team-item;
      background: $accent-color;
      box-shadow: $button-shadow;
    }

    @media screen and (min-width:768px) {
      justify-content: center;
    }
  }

  &__names {
    border-radius: 4px;
    color: $title-color;
    background: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 125px;
    height: 38px;

    &:hover {
      color: $team-item;
      background: $accent-color;
      box-shadow: $button-shadow;
    }
  }
}