
@use"../base/variables" as *;



.main {

  &__menu {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 10px;
    justify-content: center;

    @media screen and (min-width:1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &__menu-list{
 display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  row-gap: 15px;
@media screen and (min-width:370px) and (max-width:767px) {
  justify-content: flex-start;
}

  @media screen and (min-width:768px) {
    justify-content: center;
  }
}

  &__everyone {
    color: $title-color;
    background: $team-bg;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    // width: 73px;
    // height: 38px;
    padding: 0 22px;
    height: 38px;
    border: none;

    &:hover {
      color: $team-item;
      background: $accent-color;
      box-shadow: $button-shadow;
    }
  }

  &__names {
    border-radius: 4px;
    color: $title-color;
    background: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0 22px;
    height: 38px;

    &:hover {
      color: $team-item;
      background: $accent-color;
      box-shadow: $button-shadow;
    }
  }
}