
@use"../utilies/placeholders" as *;
@use"../utilies/mixin" as *;
@use"../base/variables" as *;

work-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $title-color;
  margin-bottom: 50px;
}

.work-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $team-item;
  padding-bottom: 27px;
  padding-top: 27px;
  background:var($phone-overlay) ;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work{
  @extend %padding;
  // padding-bottom: 94px;
  // padding-top: 94px;
}

.work-item {
  position: relative;
}

.work-list {
  // display: flex;
  // flex-direction: row;
  // gap: 30px;
  @include flexbox ($gap:30px, $direction:row)
}
